html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'Merriweather', serif;
*/

header {
  font-style: italic;
  margin: 1em;
}

body {
  margin: 0;
  padding: 0;

  grid-template-columns: 1fr;
  display: grid;
  grid-template-areas:
  "main"
  "div div div"
}

img {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "box 1 box1 box1"
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fr
}

.banner:nth-child(1) {
  grid-area: box1;
}
